.stripe
  .container
    .row.rel
      .offset3.span6
        %img.center{:src => "https://s3-eu-west-1.amazonaws.com/kiwit.net/logo.png",
                :alt => "kiwit_logo"}
        %h1.logo_font
          %span#kiw Kiw
          %span#it IT

        %h3#vis Information Technology & Web Engineering


.container
  .row.spacer
    .span12

  .row
    .offset2.span8

      %img.thumbnail.center{:src => "https://s3-eu-west-1.amazonaws.com/kiwit.net/ritratto.jpg",
                  :alt => "ritratto"}

      %h2
        = t.about.title

      %p.text-p
        = t.about.p1

      %p.text-p
        = t.about.p2

      %p.text-p
        = t.about.p3

      %p.text-p
        = t.about.p4

      %a.center.home-button.btn.btn-large.btn-success{:href => '/'} << home
   
  %hr

  %div= haml :footer
