.stripe
  .container
    .row.rel
      .offset3.span6
        %img.center{:src => "img/logo.png",
                    :alt => "kiwit_logo"}
        %h1.logo_font
          %span#kiw Kiw
          %span#it IT

        %h3#vis Information Technology & Web Engineering

.container
  .row.spacer
    .span12

  .row
    .offset2.span8

      %h2
        = t.tech.title

      %p.text-p
        = t.tech.p1

      %p.text-p
        = t.tech.p2

      %p.text-p
        = t.tech.p3

  .row.spacer

  .row
    .span12
      %ul.thumbnails

        %li.span3
          %a{ :href => '//www.ruby-lang.org',
              :target => '_blank' }
            %img.center#ruby{:src => "img/transparent.png",
                           :alt => "ruby_logo",
                           'data-content' => "#{t.tech.ruby}",
                           :rel => "popover",
                           'data-original-title' => "Ruby"}

        %li.span3
          %a{ :href => '//www.python.org',
              :target => '_blank' }
            %img.center#python{:src => "img/transparent.png",
                           :alt => "python_logo",
                           'data-content' => "#{t.tech.python}",
                           :rel => "popover",
                           'data-original-title' => "Python"}


        %li.span3
          %a{ :href => '//www.php.net',
              :target => '_blank' }
            %img.center#php{:src => "img/transparent.png",
                           :alt => "php_logo",
                           'data-content' => "#{t.tech.php}",
                           :rel => "popover",
                           'data-original-title' => "Php"}

        %li.span3
          %a{ :href => '//www.java.com',
              :target => '_blank' }
            %img.center#java{:src => "img/transparent.png",
                           :alt => "java_logo",
                           'data-content' => "#{t.tech.java}",
                           :rel => "popover",
                           'data-original-title' => "Java"}

  .row
    .span12
      %ul.thumbnails

        %li.span3
          %a{ :href => '//rubyonrails.org',
              :target => '_blank' }
            %img.center#rails{:src => "img/transparent.png",
                           :alt => "rails_logo",
                           'data-content' => "#{t.tech.rails}",
                           :rel => "popover",
                           'data-original-title' => "Rails"}


        %li.span3
          %a{ :href => '//www.sinatrarb.com',
              :target => '_blank' }
            %img.center#sinatra{:src => "img/transparent.png",
                           :alt => "sinatra_logo",
                           'data-content' => "#{t.tech.sinatra}",
                           :rel => "popover",
                           'data-original-title' => "Sinatra"}

        %li.span3
          %a{ :href => '//www.nginx.com',
              :target => '_blank' }
            %img.center#nginx{:src => "img/transparent.png",
                           :alt => "nginx_logo",
                           'data-content' => "#{t.tech.nginx}",
                           :rel => "popover",
                           'data-original-title' => "Nginx"}

        %li.span3
          %a{ :href => '//www.symfony.com',
              :target => '_blank' }
            %img.center#symfony{:src => "img/transparent.png",
                           :alt => "symfony_logo",
                           'data-content' => "#{t.tech.symfony}",
                           :rel => "popover",
                           'data-original-title' => "Symfony"}
  .row
    .span12
      %ul.thumbnails

        %li.span3
          %a{ :href => '//www.postgresql.org',
              :target => '_blank' }
            %img.center#postgresql{:src => "img/transparent.png",
                           :alt => "postgresql_logo",
                           'data-content' => "#{t.tech.postgresql}",
                           :rel => "popover",
                           'data-original-title' => "PostgreSQL"}

        %li.span3
          %a{ :href => '//www.mysql.com',
              :target => '_blank' }
            %img.center#mysql{:src => "img/transparent.png",
                           :alt => "mysql_logo",
                           'data-content' => "#{t.tech.mysql}",
                           :rel => "popover",
                           'data-original-title' => "MySQL"}

        %li.span3
          %a{ :href => '//www.sqlite.org',
              :target => '_blank' }
            %img.center#sqlite{:src => "img/transparent.png",
                           :alt => "sqlite_logo",
                           'data-content' => "#{t.tech.sqlite}",
                           :rel => "popover",
                           'data-original-title' => "SQLite"}

        %li.span3
          %a{ :href => '//www.mongodb.org',
              :target => '_blank' }
            %img.center#mongodb{:src => "img/transparent.png",
                           :alt => "mongodb_logo",
                           'data-content' => "#{t.tech.mongodb}",
                           :rel => "popover",
                           'data-original-title' => "MongoDB"}

  .row
    .span12
      %ul.thumbnails

        %li.span3
          %a{ :href => '//www.google.com/webmasters/tools',
              :target => '_blank' }
            %img.center#google{:src => "img/transparent.png",
                           :alt => "google_logo",
                           'data-content' => "#{t.tech.google}",
                           :rel => "popover",
                           'data-original-title' => "Google"}

        %li.span3
          %a{ :href => '//www.w3.org/html',
              :target => '_blank' }
            %img.center#html5{:src => "img/transparent.png",
                           :alt => "html5_logo",
                           'data-content' => "#{t.tech.html5}",
                           :rel => "popover",
                           'data-original-title' => "HTML 5"}

        %li.span3
          %a{ :href => '//jquery.com',
              :target => '_blank' }
            %img.center#jquery{ :src => "img/transparent.png",
                           :alt => "jquery_logo",
                           'data-content' => "#{t.tech.jquery}",
                           :rel => "popover",
                           'data-original-title' => "jQuery" }


        %li.span3
          %a{ :href => '//lucene.apache.org/solr',
              :target => '_blank' }
            %img.center#solr{ :src => "img/transparent.png",
                           :alt => "solr_logo",
                           'data-content' => "#{t.tech.solr}",
                           :rel => "popover",
                           'data-original-title' => "Solr" }

  .row
    .span12
      %ul.thumbnails

        %li.span3
          %a{ :href => '//heroku.com',
              :target => '_blank' }
            %img.center#heroku{ :src => "img/transparent.png",
                           :alt => "heroku_logo",
                           'data-content' => "#{t.tech.heroku}",
                           :rel => "popover",
                           'data-original-title' => "Heroku" }

        %li.span3
          %a{ :href => '//aws.amazon.com/',
              :target => '_blank' }
            %img.center#amazon{:src => "img/transparent.png",
                           :alt => "amazon_logo",
                           'data-content' => "#{t.tech.amazon}",
                           :rel => "popover",
                           'data-original-title' => "Amazon AWS"}

        %li.span3
          %a{ :href => '//www.linode.com/',
              :target => '_blank' }
            %img.center#linode{:src => "img/transparent.png",
                           :alt => "linode_logo",
                           'data-content' => "#{t.tech.linode}",
                           :rel => "popover",
                           'data-original-title' => "Linode"}

        %li.span3
          %a{ :href => '//www.artera.it',
              :target => '_blank' }
            %img.center#artera{:src => "img/transparent.png",
                           :alt => "artera_logo",
                           'data-content' => "#{t.tech.artera}",
                           :rel => "popover",
                           'data-original-title' => "Artera"}

  .row
    .span4.offset4
      %a.center.home-button.btn.btn-large.btn-success{:href => '/'} << home

  %hr

  %div= haml :footer


